@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --secondary-color: rgb(184, 184, 184);
    --primary-color: rgb(92, 93, 94);
}

body {
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 65px;
    color: cornsilk;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 500px;
    height: 450px;
    background-color: var(--secondary-color);
    border-radius: 7px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 92px;
    text-align: end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    width: 100%;
}

.keyboard {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

button{
    font-size: 20px;
    border-width: 1px;
    border-color: beige;
    border-radius: 3px;
    height: 70px;
    font-weight: bold;
    color: rgb(61, 61, 65);
}

.key_equal{
    background-color: cadetblue;
    height: 100%;
    grid-column: -2;
    grid-row: 2 / span 4;
}
.key_operator{
    background-color: rgb(194, 194, 194);
}